@font-face {
        font-family: "Helvetica Neue";
        src: url("/fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

@font-face {
	font-family: "Helvetica Norm";
	src: url("/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
html, body {
	position: relative;
	width: 100%;
}

body {
	background-color:  #F9F9F9;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Helvetica Neue";
}

.logo-img {
	max-width: 75%;
	max-height: 10%;
	padding-top: 3%;
	padding-bottom: 2%;
}

h1, h2, h3, p {
	color: #282828;
}

main {
	padding-left: 5%;
}


.text {
	font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #1355FF;
	border: none;
	border-radius: 0px;
	width: 91px;
	height: 40px;
	font-size: 20px;
	font-family: "Helvetica Norm";
	color: #F9F9F9;
	margin-top: 2%;
}

label {
	font-family: "Helvetica Norm";
	font-size: 20px;
	color: #282828;
	margin-right: 2%;
}

p {
	font-family: "Helvetica Norm";
	font-size: 20px;
	color: #282828;
}

input:focus { 
	outline:none; 
}

::placeholder {
	color: #282828;
}

a {
	color: #282828;
}

a:hover {
	color: #1355FF;
}
