@font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica Norm";
    src: url("/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SFProDisplay-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue";
    --hero-font-size: calc(30px + (40 - 20) * ((100vw - 300px) / (1440 - 300)));
    --plain-font-size: min(calc(20px + (20 - 16) * ((100vw - 300px) / (1440 - 300))), 25px);
}

body {
    background-color: #F9F9F9;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

.logo-img {
    max-width: 75%;
    max-height: 10%;
    padding-top: 3%;
    padding-bottom: 2%;
}

h1, h2, h3, p, label, a {
    color: #282828;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--hero-font-size);
}

label, p, button, a {
    --plain-font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1440 - 300)));
    font-weight: normal;
    font-family: "Helvetica Norm";
}

button {
    background-color: #1355FF;
    border: none;
    color: #F9F9F9;
    padding: 8px;
    cursor: pointer;
}


input:focus {
    outline: none;
}

::placeholder {
    color: #282828;
}

.main-content-block {
    max-width: 1440px;
}

a:hover {
    color: #1355FF;
}
